@import '../variables/all-variables';

$la-font-path: '../../../assets/libs/line-awesome/fonts';
// Include Line Awesome styles
// @import '../../assets/libs/line-awesome/scss/line-awesome.scss';
@import '~line-awesome/dist/line-awesome/scss/line-awesome.scss';


//@import '~line-awesome/dist/line-awesome/css/line-awesome.min.css';

// Sizing for Line Awesome library font icons
.las, .lab {
    font-size: 2.4em;
    color: $black;

    &.xxs {
        font-size: 1rem;
    }

    &.xs {
        font-size: 1.4rem;
    }

    &.sm {
        font-size: 1.8rem;
    }

    &.lg {
        font-size: 2.8rem;
    }

    &.xl {
        font-size: 3.4rem;
    }

    &.inverted {
        color: $white;
    }
}